<!DOCTYPE html>
<html lang="en">

<head>
    <%include include/head%>
</head>

<body>
    <div class="uk-offcanvas-content">
        <%include include/header%>
            <main>

            </main>
            <%include include/footer%>
            <%include include/nav-offcanvas%>
            <%include include/cart-offcanvas%>
    </div>
    <%include include/scripts%>
</body>

</html>